<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ page.title }} - 1989 June 4th Memorium</title>
	<link rel="stylesheet" href="assets/base.css" type="text/css"/>
	<script type="text/javascript" src="scripts.js"></script>
	<meta name="Description" content="{{ page.description }}"/>
	<meta name="Author" content="Doug Hamaker"/>
	<meta name="Published" content="2023/08/15."/>
</head>
<body>
<!-- start of banner -->
<header>
	<div id="banner">
		<div id="titleblock">
			<p class="title">June 4, 1989 | Tienanmen Square Memorium</p>
		</div>
		<nav id="primaryNavbar">
			<ul>
				<li><a href="{{ site.baseurl }}/xian-incident.html" class="nav"><span class="primaryNavItem">April 22nd - The Xi'an Incident</span></a></li>
				<li><a href="{{ site.baseurl }}/index.html" class="nav"><span class="primaryNavItem">June 6th - 19 Personal Accounts</span></a></li>
				<li><a href="{{ site.baseurl }}/my-story.html" class="nav"><span class="primaryNavItem">Rememberance</span></a></li>
			</ul>
        </nav>
	</div>
</header>
<main>
	<article>
		<h1>{{ page.title }}</h1>
		{{ content }}
	</article>
</main>
<footer>
    <p class="copyright">&copy;2023 <a href="my-story.html">Doug Hamaker</a></p>
</footer>
</body>
</html>